!!!
%html
  %head
    %title EvilChat
    = csrf_meta_tags
    = csp_meta_tag
    %meta{ content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport" }
    = stylesheet_pack_tag 'application', media: 'all'

  %body{ class: klass_parameterize(params) }
    = c("header")
    - if notice
      %p.notice= notice
    - if alert
      %p.alert= alert
    = yield
    = javascript_pack_tag 'application'
